<h3>Welcome back!</h3>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Please review your profile details</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">Name:</div>
        <div class="col-md-10"><%== user[:name] %></div>
      </div>
      <div class="row">
        <div class="col-md-2">Age:</div>
        <div class="col-md-10"><%== user[:age] %></div>
      </div>
      <div class="row">
        <div class="col-md-2">Gender:</div>
        <div class="col-md-10"><%= user[:gender] %></div>
      </div>
      <div class="row">
        <div class="col-md-2">Email:</div>
        <div class="col-md-10"><%= user[:email] %></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <a href="/profile/edit" class="btn btn-primary">EDIT</a>
</div>
